---
---

.background {
  position: relative;
  background: var(--background);
  color: var(--text);
  z-index: 1;
}

.background:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.9;
  z-index: -1;
  height: 100%;
  width: 100%;
}

/* 普通页面的header背景 */
header.background:not([data-home-background]):before {
  min-height: 60px;
}

/* 首页的header背景 */
// header.background[data-home-background]:before {
  // min-height: 250px;
  // padding-bottom: 15%;
// }
