<a href="{{ include.link | relative_url | uri_escape }}" class="feature-highlight-card" aria-label="{{ include.title | default: 'feature link' | regex_strip }}">
  <div class="feature-highlight-image-wrapper">
    <img
      src="{{ include.image | relative_url | uri_escape }}"
      loading="lazy"
      alt="{{ include.title | default: 'feature image' | regex_strip }}"
      class="feature-highlight-image"
      {% include fallback.html %}
    >
  </div>
  <div class="feature-highlight-content-overlay">
    {% if include.title %}
      <h3 class="feature-highlight-title">{{ include.title }}</h3>
    {% endif %}
    {% if include.text %}
      <div class="feature-highlight-text">
        {{ include.text | markdownify }}
      </div>
    {% endif %}
  </div>
</a>
