---
layout: default
---

<!-- 移除原来的带背景图片的section -->
{% include section.html %}

<div class="post-container">

  <h1 class="post-title">{{ page.title }}</h1>

  {%
    include post-info.html
    author=page.author
    member=page.member
    published=page.date
    updated=page.last_modified_at
    tags=page.tags
  %}

    <!-- 添加文章特色图片 -->
  {% if page.image %}
    <div class="post-featured-image">
      <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
    </div>
  {% endif %}
  
  <div class="post-content">
    {{ content }}
  </div>
</div>

{% include section.html %}

{% include post-nav.html post=page %}
